<div id="skin-select">
  <!--      Toggle sidemenu icon button -->
  <a id="toggle">  </a>
  <!--      End of Toggle sidemenu icon button -->
  <div class="skin-part">
    <div id="tree-wrap">

      <!-- Profile -->
      <div class="profile">
        <%= image_tag 'songbook01.svg' %>
        <h3 style="display: block;">Songbook<small>ADMIN</small></h3>
      </div>
      <!-- End of Profile -->

      <!-- Menu sidebar begin-->
      <div class="side-bar">
        <ul class="topnav slicknav">
          <li>
            <a class="tooltip-tip" href="<%=root_path%>" title="Dashboard"
              <%= 'id="menu-select"'.html_safe if controller_name=='dashboard'%>>
              <i class="palette-Deep-Purple-700 bg ti-desktop"></i> <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a class="tooltip-tip" href="<%=groups_path%>" title="Groups"
              <%= 'id="menu-select"'.html_safe if controller_name=='groups'%>>
              <i class="palette-Cyan-700 bg ti-layout-grid2"></i> <span>Grupos</span>
            </a>
          </li>
          <li>
            <a class="tooltip-tip" href="<%=songs_path%>" title="Songs"
               <%= 'id="menu-select"'.html_safe if controller_name=='songs'%>>
               <i class="palette-Blue-700 bg ti-music"></i> <span>Songs</span>
            </a>
          </li>
          <li>
            <a class="tooltip-tip" href="#" title="Tags">
              <i class="intial palette-Blue-900 bg ti-tag"></i> <span>Tags</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="intial palette-Teal-600 bg ti-write"></i> <span>Page</span>
            </a>
          </li>
          <li>
            <a class="tooltip-tip" href="#" title="UI"> <i class="intial palette-Green-700 bg ti-vector"></i> <span>UI&nbsp;
                                    <small class="side-menu-noft">new</small></span> </a>
            <ul>
              <li> <a href="element.html" title="Element">Element</a> </li>
              <li><a href="button.html" title="Button">
                Button
              </a> </li>
              <li> <a href="tab.html" title="Tab & Accordion">Tab & Accordion</a> </li>
              <li> <a href="typography.html" title="Typography">

                Typography
              </a> </li>
              <li> <a href="panel.html" title="panel">Panel</a> </li>
              <li> <a href="grids.html" title="Grids">Grids</a> </li>
              <li> <a href="chart.html" title="Chart">Chart</a> </li>
            </ul>
          </li>
          <li>
            <a href="#"> <i class="intial palette-Lime-700 bg ti-layers-alt"></i>
              <span>Form&nbsp;  <small class="side-menu-noft">new</small></span>
            </a>
            <ul>
              <li> <a href="form-element.html" title="Form Elements">Form Elements</a> </li>
              <li> <a href="andvance-form.html" title="Andvance Form">Andvance Form</a> </li>
              <li> <a href="text-editor.html" title="Text Editor">Text Editor</a> </li>
              <li> <a href="file-upload.html" title="File Upload">File Upload</a> </li>
            </ul>
          </li>
          <li>
            <a href="#"> <i class="intial palette-Orange-700 bg ti-harddrives"></i> <span>Tables</span> </a>
            <ul>
              <li> <a href="table-static.html" title="Table Static">Table Static</a> </li>
              <li> <a href="table-dynamic.html" title="Table Dynamic">Table Dynamic</a> </li>
            </ul>
          </li>
          <li>
            <a class=" tooltip-tip" href="icon.html" title="Icons"> <i class="intial palette-Pink-700 bg ti-zip"></i> <span>Icons</span> </a>
          </li>
          <li>
            <a class="tooltip-tip" href="#" title="Extra"> <i class="palette-Pink-700 bg ti-gift"></i> <span>Extra</span> </a>
            <ul>
              <li> <a href="invoice.html" title="Invoice">Invoice</a> </li>
              <li> <a href="pricing_table.html" title="Pricing Table">Pricing Table</a> </li>
              <li> <a href="time-line.html" title="Time Line">Time Line</a> </li>
              <li> <a href="login.html" title="Chart">Login</a> </li>
              <li> <a href="map.html" title="Lock Screen">Map</a> </li>
              <li> <a href="404.html" title="404 Error Page">404 Error Page</a> </li>
              <li> <a href="500.html" title="500 Error Page">500 Error Page</a> </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- end of Menu sidebar  -->
      <!--bottom chat-->
      <ul class="chat-list-menu">
        <li>Direct Message (10) <i class="ti-arrow-circle-down"></i></li>
        <li class="online"><small class="ti-control-record"></small> Themesmile (You)</li>
        <li class="online"><small class="ti-control-record"></small> IamUcil</li>
        <li><small class="ti-control-record"></small> Yudha</li>
        <li><small class="ti-control-record"></small> Nady</li>
        <li><small class="ti-control-record"></small> Andre</li>
        <li><small class="ti-control-record"></small> Gloria</li>
        <li class="online"><small class="ti-control-record"></small> Destya</li>
        <li><small class="ti-control-record"></small> Yuanita</li>
        <li><small class="ti-control-record"></small> Ari</li>
        <li><small class="ti-control-record"></small> Dhanie</li>
      </ul>
      <!--end of bottom chat-->
      <ul class="bottom-list-menu">
        <li>Settings <small class="ti-settings"></small> </li>
        <li>Help <small class="ti-flag-alt-2"></small> </li>
        <li>About Edumix <small class="ti-infinite"></small> </li>
      </ul>
    </div>
  </div>
</div>