<% if @groups.blank? %>
  <div class="panel">
    <div class="panel-body">
      <div class="example-box-wrapper">
        <div class="alert alert-danger">
          <div class="bg-red alert-icon">
            <i class="glyph-icon icon-times"></i>
          </div>
          <div class="alert-content">
            <h4 class="alert-title"><%= t('groups.no_groups_title')%></h4>
            <p><%= t('groups.no_groups_body')%> <a href="/groups/new"><%= t('groups.no_groups_body_2')%></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>


<%else%>


  <div class="row">
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-body">
          <h3 class="title-hero">
            Dashboard buttons
          </h3>

          <div class="example-box-wrapper">

            <div class="content-box remove-border dashboard-buttons clearfix">
              <a href="<%=new_group_path%>" class="btn vertical-button hover-green" title="">
                                <span class="glyph-icon icon-separator-vertical">
                                    <i class="glyph-icon icon-plus"></i>
                                </span>
                <span class="button-content">Novo Grupo</span>
              </a>

              <a href="#" class="btn vertical-button hover-orange" title="">
                                <span class="glyph-icon icon-separator-vertical">
                                    <i class="glyph-icon icon-fire"></i>
                                </span>
                <span class="button-content">Tables</span>
              </a>

              <a href="#" class="btn vertical-button hover-purple" title="">
                                <span class="glyph-icon icon-separator-vertical">
                                    <i class="glyph-icon icon-bar-chart-o"></i>
                                </span>
                <span class="button-content">Charts</span>
              </a>

              <a href="#" class="btn vertical-button hover-yellow" title="">
                                <span class="glyph-icon icon-separator-vertical">
                                    <i class="glyph-icon icon-laptop"></i>
                                </span>
                <span class="button-content">Buttons</span>
              </a>

              <a href="#" class="btn vertical-button hover-azure" title="">
                                <span class="glyph-icon icon-separator-vertical">
                                    <i class="glyph-icon icon-code"></i>
                                </span>
                <span class="button-content">Panels</span>
              </a>

              <a href="<%= destroy_multiple_groups_path %>" class="btn vertical-button hover-blue" title="">
                                <span class="glyph-icon icon-separator-vertical">
                                    <i class="glyph-icon icon-picture-o"></i>
                                </span>
                <span class="button-content">Destruir Grupos</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <% @groups.each do |grp|%>
      <div class="col-md-3">
        <div class="tile-box tile-box-alt mrg20B bg-blue-alt">
          <%= link_to 'Delete', group_path(grp.id), method: :delete, data: {confirm: 'Are you sure?'} %>
          <div class="tile-header">
            <strong><%=grp.group.name%></strong>
            <%= '<span class="bs-label label-danger">ADMIN</span>'.html_safe if grp.admin? %>
          </div>
          <div class="tile-content-wrapper">
            <i class="glyph-icon icon-group"></i>
            <div class="tile-content">
              <span><i class="glyph-icon icon-music"></i></span>
              <%= rand(20..200)%>
            </div>
            <small>
              <i class="glyph-icon icon-map-marker"></i>
              <%=grp.group.city%> | <%=grp.group.country%>
            </small>
          </div>
          <a href="<%=group_path(grp.id)%>" class="tile-footer tooltip-button" data-placement="bottom">
            ver detalhes
            <i class="glyph-icon icon-arrow-right"></i>
          </a>
        </div>
      </div>
    <% end %>
  </div>
<%end%>