<!DOCTYPE html>
<html>
  <head>
    <title>Songbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://use.fontawesome.com/releases/v5.0.13/css/all.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'dripicon', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'foundation', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'pace-theme-flash', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'palette', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'slicknav', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'theme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'themify-icons', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'typicons', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'pace', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'modernizr', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'waypoints.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'preloader-script', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'foundation', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.slimscroll', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.slicknav', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sliding-menu', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.counterup.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.circliful', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'loader', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.flot.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.flot.resize.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.flot.pie.min', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if current_user.nil? %>

    <body>
      <%= render 'partials/preloader' %>
      <div class="inner-wrap">
        <div class="wrap-fluid">
          <%= yield %>
        </div>
      </div>
    </body>

  <% else %>

    <body class="pace-done" data-whatinput="mouse">
      <%= render 'partials/preloader' %>
      <div class="off-canvas-wrapper over-flow-hidden">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper="">
          <div class="inner-wrap">
            <%= render 'partials/sidebar' %>
            <div class="wrap-fluid" id="paper-bg" style="width: auto; margin-left: 260px;">
              <%= render 'partials/topnav' %>
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <%= yield %>
              <%= render 'partials/footer' %>
            </div>
          </div>
        </div>
      </div>
      <script>
          $(document).foundation();
      </script>
    </body>

  <% end %>

</html>
